<!Doctype HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard - Admin</title>

    <!-- Materialize-->
    <link href="https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/admin-materialize.min.css?v=8850535670742419153" rel="stylesheet">
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body class="has-fixed-sidenav">
<header>
    <ul id="sidenav-left" class="sidenav sidenav-fixed teal">
        <li><h3 class="logo-container">Admin Dashboard<i class="material-icons left">spa</i></h3></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold waves-effect active"><a th:href="@{/reg_page}" class="collapsible-header">Register Employee</a>
                </li>
                <li class="bold waves-effect"><a href="#" class="collapsible-header">Employees List</a>
                </li>
                <li class="bold waves-effect"><a href="emp_attendance.html" class="collapsible-header">Employees Attendance</a>
                </li>
                <li class="bold waves-effect"><a href="emp_salary.html" class="collapsible-header">Pay Employees</a></li>
                <li class="bold waves-effect"><a th:href="@{/logout}" class="collapsible-header">Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
</header>
<main>
    <div class="row dash">
        <div class="row">
            <div class="col s10">
                <h3 class="teal-text">List of Employees</h3>
                <hr>
            </div>
        </div>


        <div class="row">
            <div class="col s10">
                <table class="striped">
                    <thead>
                    <tr>
                        <th data-field="firstName" class="center white-text"><h6>First Name</h6></th>
                        <th data-field="lastName" class="center white-text"><h6>Last Name<h6></th>
                        <th data-field="email" class="center white-text"><h6>Email Address</h6></th>

                    </tr>
                    </thead>
                    <tbody th:each="employee : ${all_employee}">
                    <tr>
                        <td class="center" th:text="${employee.firstName}">Alvin</td>
                        <td class="center" th:text="${employee.lastName}">Eclair</td>
                        <td class="center" th:text="${employee.email}">alvin@eclair.com</td>
                        <td class="right">
                            <div class="col">
                                <a th:href="@{/delete/{id}(id=${employee.getId()})}" th:object="${delete_emp}" class="br red btn-small btn-mn right"><i class="small material-icons">delete_sweep</i></a>
                                <a th:href="@{/edit/{id}(id=${employee.getId()})}" th:object="${employee}" class="br green btn-small btn-m center"><i class="small material-icons">mode_edit</i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main><!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
<!-- Initialization script -->
<script src="https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/dashboard.min.js?v=481680883062710906"></script>
</body>
</html>
